<ion-navbar>
  <ion-title>
      <ion-row>
        <ion-col col-8>
          {{ category }} <br>{{ level }}
        </ion-col>
        <ion-col col-4 text-right>
          <span>
            <p>Level</p>
            <ion-icon name="md-flash" class="active"></ion-icon>
            <ion-icon name="md-flash"></ion-icon>
            <ion-icon name="md-flash"></ion-icon>
          </span>
        </ion-col>
        <ion-col col-12>
          <p>11 Workout</p>
        </ion-col>
      </ion-row>
    </ion-title>      
</ion-navbar>