page-recipe-detail {
    .segment-ios 
    .segment-button {
        border-color: #f53d3d!important;
        color: #f7f1f1!important;
    }
    .segment-ios 
    .segment-button.segment-activated {
        background-color: #f53d3d!important;
    }
}
